// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family:gothic;
  background:yellow;
}
#titlebox{
  text-align: center;

  /*// background:url(image-path('greywall.jpeg'));*/
  background-image:url('greywall.jpeg');
  border-radius: 4px;
  color: goldenrod;
  font-size: 55px;
  padding-top: 30px;
  font-family: gothic;
  border: goldenrod 3px solid;
  opacity: 0.9;
  padding-top:40px;
  height:220px;
}
.numplayers{
  border:1px solid black;
  background:yellow;

}

#goodside{
  background:#5985A9;
}
#evilside{
  background:#472F31;
}
#goodside, #evilside{
  padding-bottom: 25px;
  padding-top:9px;
}
img#board {
margin-top: 30px;
}
img#board {
margin-top: 20px;
height: 190px;
}
.rubberBand{
  margin-left:378px;
}
header{
  margin-top: 100px;

}
#box5, #box6, #box7, #box8, #box9, #box10{
  text-align: center;
  background: #474248;
  color:white;
  font-size: 20px;
  margin-bottom: 35px;
  border-radius: 40px;

}
#headimg{
  margin-top:120px;
}
.center{
  text-align: center;
}


.blue{
  color: yellow;

}

.orange{
  color:orange;
}

.nav{
  background:yellow;
}

li{
  width: 15%;
  padding: 30px;

}
.num{
  font-size:40px;
}
a{
  padding-left: 5px;
}
li{
padding:30px;
background:yellow;
margin:10px;

}
ul{
 list-style-type: none;
}
.numPlayer ul li { display: inline; 
}

.deck{
  height:240px;
}
.howMany{
  text-align:center;
  color:white;
}
.numplayers{
  padding-top:20px;
  padding-bottom:20px;
}
#activatePlayer{
  background:orange;
  height:60px;
  font-size: 30px;
  color:black;
}
#percival{
  background:lightblue;
}
#morgana, #mordred, #oberon{
  background:#472F31;
}

#bottom{
  margin-top: 500px;
}
.well.deck5{
  padding-bottom: 300px;
  padding-top: 40px;
}
.well.deck8 {
padding-bottom: 350px;
padding-top: 30px;
}
.deck5ev{
  padding-top:60px;
}
img.img-responsive.tag {
margin-top: 40px;
}
.well.deck6{
 padding-bottom: 269px;
padding-top: 40px;

}
.well.deck8{
padding-bottom: 544px;
padding-top: 40px;

}
#middle{
  margin-top: 150px;
}
img.img-responsive.tag.img1 {
margin-top: 40px;
}
.deck8ev{
  padding-top: 100px;
}
.well.deck10{
  padding-bottom:591px;
}
#assassin{
  margin-top:200px;
}
button#percival {
margin-bottom: 30px;
background:#5985A9;
}
.well.decke{
  background:#E3BFA5;
  color:brown;
  font-family: gothic;
}
.well.deckg{
  background:#ADD8E6;
  color:navy;
  font-family: gothic;
}
p {
font-family: gothic;
font-size: 20px;
}
#middle7{
  margin-top: 83px;
}
img#merlin8 {
margin-top: 3px;
}


