// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background:yellow
}
h1#title{
  text-align: center;
  margin-bottom: 40px;
}
/*#morgana{
  background: red;
  border:1px solid black;
  width: 70px;
  height 95px;
}*/
#six{
  text-align: center;
}
.blue{
  color: blue;

}

.orange{
  color:orange;
}

.nav{
  background:yellow;
}

li{
  width: 15%;
  padding: 30px;

}
.num{
  font-size:40px;
}
a{
  padding-left: 5px;
}
li{
padding:30px;
background:yellow;
margin:10px;

}
ul{
 list-style-type: none;
}
.numPlayer ul li { display: inline; 
}

.deck{
  height:240px;
}
.howMany{
  text-align:center;
}

#percival{
  background:lightblue;
}
#morgana, #mordred, #oberon{
  background:coral;
}

#bottom{
  margin-top: 500px;
}
.well.deck5{
  padding-bottom: 300px;
  padding-top: 40px;
}
.well.deck8 {
padding-bottom: 350px;
padding-top: 30px;
}
.deck5ev{
  padding-top:60px;
}
img.img-responsive.tag {
margin-top: 40px;
}
.well.deck6{
 padding-bottom: 269px;
padding-top: 40px;

}
.well.deck8{
padding-bottom: 544px;
padding-top: 40px;

}
#middle{
  margin-top: 150px;
}
img.img-responsive.tag.img1 {
margin-top: 90px;
}
.deck8ev{
  padding-top: 100px;
}
.well.deck10{
  padding-bottom:591px;
}
#assassin{
  margin-top:200px;
}